html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font: inherit;
 box-sizing: inherit;
 text-align: inherit;
 text-decoration: inherit;
 vertical-align: inherit;
 color: inherit;
 background: transparent;
}

body {
 box-sizing: content-box;
 font-family: sans-serif;
 font-size: 16px;
 line-height: 1.1666666666;
 color: #000;
}

ul {
 list-style: none;
}

img {
 display: block;
 width: 100%;
 height: auto;
}

.outer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.product-index {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 width: 70%;
}


.product-container {
  width: 200px;
  height: 275px;
  margin: 30px;
  box-shadow: 1px 1px 15px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.product-container:hover {
  cursor: pointer;
  box-shadow: 1px 1px 25px grey;
}

.product-image {

}

.product-info {
  height: 70px;
  width: 177px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-name {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}


.product-price {
  color: grey;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.filters-container {
  display: flex;
  justify-content: space-around;;
  width: 70%;

}

.price-slider {
  width: 200px;
}

.sort-options {
}
